<div>
  <div class="row justify-content-center">
    <div class="col-3 d-flex">
      <input class="form-control mr-1" type="text" (ngModelChange)="filtra()" [(ngModel)]="searchKey"
             placeholder="Inserisci un titolo">
      <button class="btn btn-success" type="button" (click)="filtra()">Cerca</button>
      <select name="select" [(ngModel)]="categoria" (change)="filtra()">
        <option *ngFor="let item of categorie" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let item of nuevaRespuesta" class="card col-3 shadow p-3 mb-5 bg-grey rounded">
      <div class="card-body">
        <h3 class="card-title">{{item.title}}</h3>
        <img class="card-img-top" width="auto" height="55%" [src]="item.photo_url">
        <p class="card-text">{{item.summary}}</p>
        <a class="btn btn-primary me-1" routerLink="/post/{{item.id}}" >Vai al post</a>
        <button class="btn btn-secondary" (click)="delete(item.id)">Elimina il post</button>
        <a class="btn btn-primary me-1" routerLink="/add/{{item.id}}" >Edita questo post</a>
      </div>
    </div>

  </div>
  <div>
    <footer class="botones">
      <button class="btn btn-info" type="button" [disabled]="numeroDePagina < 2" (click)="previewPost()">Carica i
        Posts precedenti
      </button>
      <p>- pagina {{numeroDePagina}} da 100-</p>
      <button class="btn btn-info" (click)="nextPost()">Carica Altri Posts</button>
    </footer>
  </div>
</div>
