* {
  box-sizing: border-box;
}
.titulo{
  display: flex;
  justify-content: center;
}
h1{
  font-family: 'Brush Script MT', cursive;
}
.doc{
  width: 100%;
  height: auto;
  background-color: aliceblue;
  overflow-x: hidden;
}
